//VARIABLES AND IMPORTS

@import "setup";

$heading: 'Oswald', sans-serif;
$paragraph: 'Old Standard TT', serif;
$mainText: white;
$parText: white;

//VARIABLES
$red: #B3003B;

//FONTS AND CLASS OVERRIDES
h1 {
	font-family: $heading;
	text-align: center;
	font-size: 3rem;
	margin: 0;
	color: $mainText;
	@media (max-width: 700px) {
		font-size: 2rem;
		text-align: left;
	}
	@media(max-width: 500px) {
		font-size: 1rem;
	}
}
p {
	font-family: $paragraph;
	color: $parText;
	font-size: 2.5rem;

}
button {
	color: $mainText;
	font-family: $heading;
	font-size: 1.1rem;
	margin: 1% auto;
	display: block;
	width: 25%;
	padding: 20px;
	border-radius: 10px;
	background: rgba(0,0,0,0.4);
	border: 0;
	transition: all 1s;
	@media(max-width: 700px) {
		font-size: 1.4rem;
		width: 35%;
	}
	@media(max-width: 500px) {
		width: 50%;
		font-size: 1rem;
	}
	&:hover {
		background: rgba(0,0,0,0.9);
		color: $red;
		transition: all 1s;
	}
}
.italic {
	font-style: italic;
}

//OVERALL LAYOUT AND DISPLAY
@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}
body {
	font-size: 62.5%;
	height: 100vh;
	max-width: 1400px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	background-size: cover;
	background-repeat: no-repeat;
}
div.backgroundContainer {
	width: 100%;
	padding: 0.5rem 0 3rem;
	background: rgba(0,0,0,0.8);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	z-index: 0;
	flex-grow: 1;
}
header {
	text-transform: uppercase;
	position: relative;
	.tweetButton {
	position: absolute;
	top: 5px;
	right: 5px;
	}
}
.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}
.main {
	padding: 4rem 0;
}
.content {
	width: 80%;
	height: 300px;
	margin: 0 auto;
	overflow: visible;
	@media (max-width: 700px) {
		overflow-y: scroll;
		width: 95%;
		padding: 10px;
		// height: 25%;
	}
&::webkit-scrollbar-button {
	background: rgba(0,0,0,0);
}
&::webkit-scrollbar-track {
	background: rgba(0,0,0,0);
}
	p {
		line-height: 110%;
		padding: 25px;
		background: rgba(0, 0, 0, 0.3);
		border-radius: 10px;
		margin-bottom: 0;
		&:first-letter {
			font-size: 180%;
			color: $red;
			padding: 10px 0 0 0;
		}
		@media (max-width: 500px) {
		font-size: 1.2rem;
		padding: 20px;
		}
	}
}
.contentBox {
	// position: absolute;
	// height: 100%;
	width: 100%;
	top: 0;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
footer {
	width: 100%;
	background: rgba(0, 0, 0, 0.8);
	padding: 10px 0 0;
	.wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: flex-end;
	flex-grow: 1;
	@media(max-width: 700px) {
		flex-direction: column;
	}
	.left {
		text-align: left;
		p {
			font-size: 0.9rem;
		}
	}
	.center {
		text-align: center;
		@media(max-width: 700px) {
			order: -1;
		}
	}
	.left, .right, .center {
		width: 33%;
		margin: 0;
		@media(max-width: 700px) {
			width: 100%;
			padding: 10px 0;
		}
		}
	}
	a {
		color: $mainText;
		@media(max-width: 700px) {
			font-size: 0.9rem;
		}
	}
	p {
		font-size: 1rem;
		padding: 0 5px 0;
		margin: 0;
		@media(max-width: 700px) {
			font-size: 0.9rem;
			text-align: center;
		}
	}
}
