article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1 {
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-size: 3rem;
  margin: 0;
  color: white; }
  @media (max-width: 700px) {
    h1 {
      font-size: 2rem;
      text-align: left; } }
  @media (max-width: 500px) {
    h1 {
      font-size: 1rem; } }

p {
  font-family: "Old Standard TT", serif;
  color: white;
  font-size: 2.5rem; }

button {
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 1.1rem;
  margin: 1% auto;
  display: block;
  width: 25%;
  padding: 20px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.4);
  border: 0;
  transition: all 1s; }
  @media (max-width: 700px) {
    button {
      font-size: 1.4rem;
      width: 35%; } }
  @media (max-width: 500px) {
    button {
      width: 50%;
      font-size: 1rem; } }
  button:hover {
    background: rgba(0, 0, 0, 0.9);
    color: #B3003B;
    transition: all 1s; }

.italic {
  font-style: italic; }

@viewport {
  zoom: 1.0;
  width: extend-to-zoom; }

body {
  font-size: 62.5%;
  height: 100vh;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat; }

div.backgroundContainer {
  width: 100%;
  padding: 0.5rem 0 3rem;
  background: rgba(0, 0, 0, 0.8);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
  flex-grow: 1; }

header {
  text-transform: uppercase;
  position: relative; }
  header .tweetButton {
    position: absolute;
    top: 5px;
    right: 5px; }

.wrapper {
  max-width: 1200px;
  margin: 0 auto; }

.main {
  padding: 4rem 0; }

.content {
  width: 80%;
  height: 300px;
  margin: 0 auto;
  overflow: visible; }
  @media (max-width: 700px) {
    .content {
      overflow-y: scroll;
      width: 95%;
      padding: 10px; } }
  .content::webkit-scrollbar-button {
    background: transparent; }
  .content::webkit-scrollbar-track {
    background: transparent; }
  .content p {
    line-height: 110%;
    padding: 25px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-bottom: 0; }
    .content p:first-letter {
      font-size: 180%;
      color: #B3003B;
      padding: 10px 0 0 0; }
    @media (max-width: 500px) {
      .content p {
        font-size: 1.2rem;
        padding: 20px; } }

.contentBox {
  width: 100%;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

footer {
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  padding: 10px 0 0; }
  footer .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-end;
    flex-grow: 1; }
    @media (max-width: 700px) {
      footer .wrapper {
        flex-direction: column; } }
    footer .wrapper .left {
      text-align: left; }
      footer .wrapper .left p {
        font-size: 0.9rem; }
    footer .wrapper .center {
      text-align: center; }
      @media (max-width: 700px) {
        footer .wrapper .center {
          order: -1; } }
    footer .wrapper .left, footer .wrapper .right, footer .wrapper .center {
      width: 33%;
      margin: 0; }
      @media (max-width: 700px) {
        footer .wrapper .left, footer .wrapper .right, footer .wrapper .center {
          width: 100%;
          padding: 10px 0; } }
  footer a {
    color: white; }
    @media (max-width: 700px) {
      footer a {
        font-size: 0.9rem; } }
  footer p {
    font-size: 1rem;
    padding: 0 5px 0;
    margin: 0; }
    @media (max-width: 700px) {
      footer p {
        font-size: 0.9rem;
        text-align: center; } }
